body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#head-div {
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

#head-div > img{
    height: 34px;
    width: 34px;
}

#head-div > button{
    background-color: black;
    color: white;;
    border: none;
    border-radius:5px;
    width: 120px;height: 40px;
    padding: 10px;
    font-size: 15px
}
#adv-div > h1{
    text-align: center;
    font-size: 56px;
    margin-bottom: -20px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 2px;
}
#adv-div > p{
    font-size: 26px;
    font-weight: 400;
    line-height: 1.35;
    color: #767676;
    text-align: center;
    margin-bottom: 150px;
}
h1{
    font-size:40px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-top: 80px;
}
h2{
    font-size: 24px;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: 0.5px;
}
p, ul{
    font-size: 20px;
    line-height: 1.5;
    color: #111;
    margin-bottom: 70px;
}
.arw-mid-div{
    width: 43%;
    margin: 0 auto;
}
.mid-div{
    width: 43%;
    margin: 0 auto
}
.hdp-img{
    width:63%;
}
.desc-p{
    width: 43%;
    margin: 0 auto;
    font-size:15px;
    color: #767676;
    text-align: center;
    margin-bottom: 100px;
}
hr{
   width: 13%;
   color: #767676;
   margin-bottom: 100px;
}
.big-img{
    width: 100%;
}
.mid-img{
    width:60%;
    margin: auto;
}
.medium-div{
    text-align: center;
}
.img-div{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.img-div > img{
    width:425px;
    height:471px;
}
.eff-div{
    width: 50%;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}
.eff-div > p:nth-child(1){
    font-weight: bold;
    margin-bottom: -20px;
}
#adv{
    margin-top:60px;
}
#adv > img{
    margin: 30px 0
}
#adv > h2{
    width: 40%;
    margin: auto;
    text-align:left;
}
#black-div {
    background-color: black;
    color: white;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 60px;
}
#black-div  p{
    color: white;
} 

#grid-div{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 314px);
    gap: 20px;
    margin-top: 90px;
    
}
#grid-div > div{
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px 20px;
}
#grid-div > div > h3{
    font-size: 32px;
    line-height: 1.2;
    margin-top: 1px;
}
#grid-div > div > p{
    font-size: 15px;
}
#audience{
    width: 55%;
    margin-top: -80px;
}
#audience > p{
    width: 85%;
    margin-bottom: -20px;
}
a{
    color: black;
}

#int > p{
    margin-bottom: 1px;
    margin-bottom: 25px;
}
#int > input{
    width: 300px;
    height: 15px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #767676;
}
#int > button{
    height: 46px;
    width: 90px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
}
#footer{
    width: 87%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-top: 1px solid #767676;
}
#footer-img{
    height: 24px;
    width: 24px;
    padding-top:20px;
    padding-right: 15px;
}
#footer > div:nth-child(1){
    display: flex;
    justify-content: space-evenly;
   
}
#footer > div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    padding-top:20px;
    color: #767676;
}
#footer > div:nth-child(1) > p{
    font-size:15px;
    padding-top:6px;
}