#main-div{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 765px;
    margin: auto;
    display: flex;
}
#left{
    width: 33%;
    border: 1px solid red;
    color: white;
    padding: 60px;
    background-image: url("https://images.unsplash.com/photo-1571987906345-1b41e18ccf94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDc5fHxuYXR1cmUlMjBibHVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#left h1{
    font-size:48px;
    margin-bottom: -10px;
}
#left h1+p{
    font-size:24px;
    font-weight: 400;
    line-height: 1.35;
}
#right{
    width: 60%;
    text-align: center;
}
#head{
    margin-bottom: 65px;
}
#head > h1{
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1px;
}
#fb{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #2380f1;
    color: white;
    border-radius: 5px;   
    height: 40px;
    padding-bottom: 13px;
}

#fb:hover{
    background-color: #0d6ce3;
}
#fb > i{
    margin: 20px 20px 0 0 ;
}
#or{
    font-size:14px;
    color: #535353;
    margin: 15px 0 10px;
}
#name{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
#name > div{
    width: 48%;
}
input{
    width: 100%;
    height:35px;
    border-radius: 5px;
    border: 1px solid #767676;
}
#name p, .eup p{
    text-align: left;
    margin-bottom: 5px;
}
.eup{
    width: 70%;
    margin: auto;
    margin-bottom: 25px;
}
#join{
    width: 70%;
    margin: auto;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
}
#join > p{
    padding-top: 7px;
}
#join + div{
    font-size: 13px;
    color: #535353
}
span{
    font-size: 15px;
    color: #535353
}
a{
    color: #767676;
}
a:hover{
    color: black;
}