*{
    font-family:apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    box-sizing: border-box;
}
#stickyNavbar{
    position:sticky;
    top:0;
    z-index:100;
    background-color:white;
}
#navbar{
height: 70px;
padding-top: 20px;
display: flex;
justify-content: space-around;
margin:15px 0 30px 0;
position: sticky;
top: 0;
z-index: 100;
background-color: white;
}

#logo-img{
width: 60px;
height: 40px;
padding-left: 20px;
margin-right: -20px;
margin-top: -5px
}
#search-bar{
width: 750px;
height: 40px;
border-radius: 20px;
background-color: #eeeeee;
border: none;
padding-left: 30px;
margin-top: -5px
}


#navbar button{
background-color: white;
height: 30px;
border: none;
border: 1px solid #767676;
color: #767676;
border-radius: 5px;

}
#navbar a{
margin-top:0px;
color: #767676;
text-decoration: none;
}
#navbar a:hover{
color: black;
}
#navbar >div:nth-child(6){
width: 1px;
height: 30px;
background-color: #767676
}
#navbar>div>a{
font-size:14px;
}

/* Head box css styles start from here */
#headBox{
    display:flex;
    border-bottom:1px solid #8e97a5;
    margin-bottom:100px;
    position:sticky;
    top:0;
    z-index:100;
    background:white;
    margin-top: -30px;
}
#headBox>p{
    margin-right:20px;
    color:#8e97a5;
    font-size: 15px;
    margin-left:20px;
}
#headBox>p:hover{
    color:black;   
}
 /* The first box css styles start from here */
 #firstBox{
    display:flex;
    justify-content:space-between;
    width:88%;
    height:700px;
    margin:auto;
}
#firstBox>div{
    height:100%;
    width:50%;
}
#firstBox-image{
    max-width:40%;
}
#firstBox-image>img{
    width:100%;
    height:100%;
}
#firstBox-matter{
    padding-top:150px;
    max-width:45%;
}
#firstBox-matter>h1{
    font-size:48px;
}
#firstBox-matter>p{
    max-width:700px;
    font-size:18px;
    line-height:1.8em;
}
#firstBox-matter>button{
    margin-top:15px;
}
/* First box buttons css style */
#firstBox-btn1{
    height:45px;
    width:180px;
    font-size:16px;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    margin-right:15px;
}
 /*The second box that is matter with h1 styles starts here  */
 #secondBox{
     width:44%;
     line-height:1.5em;
     font-size:19px;
     margin:auto;
     margin-top:80px;
     margin-bottom:80px;
 }
 #animationImage{
     margin-bottom:50px;
 }
 /* the thirdbox style starts from here */
 #thirdBox{
    width:44%;
     line-height:1.5em;
     font-size:19px;
     margin:auto;
     margin-top:80px;
     margin-bottom:80px;
 }
 /*  The fourth box that is h2 with paragraph  */
 #fourthBox{
    width:44%;
     line-height:1.5em;
     font-size:19px;
     margin:auto;
     margin-top:80px;
     margin-bottom:80px;
     text-align:center;
 }
 a{
    color: #767676;
    font-size:18px;
}
a:hover{
    color:black;
}
/* Footer First Box styles starts from here */
#footer{
    display:flex;
    height:480px;
    width:88%;
    margin:auto;
    margin-top:20px;
}
#footer>div{
    width:20%;
    margin-right:30px;
}
#footer>#firstdiv{
    width:40%;
    
}
#firstdiv>h4+p{
    color:black;
}
a{
    color:grey;
    text-decoration:none;
}
a:hover{
    color:black;
}
#footer>#lastdiv{
    margin-right:1px;
}
#footer>div>p{
    color:grey;
}
#footer>div>p:hover{
    color:black;
}
/* Horizontal Line */
hr{
    width:90%;
    color:grey;
}
/* Footer Second box styles starts from here */
#logoFooter{
    display:flex;
    width:90%;
    height:50px;
    justify-content:space-between;
    margin:auto;
}
#logoFooter>div{
    display:flex;
    width:20%;
}
#pmatter{
    justify-content:space-between;
    color:grey;
}
#pmatter>p:hover{
    color:black;
}
/* Styles for footer second box images */
#imageLogo{
    justify-content:space-between;
    max-width:8%;
    display:block;
    padding-top:12px

}
#imageLogo>img{
    filter: invert(57%) sepia(10%) saturate(18%) hue-rotate(317deg) brightness(87%) contrast(84%);
    width:20px;
    height:20px;
}
#imageLogo>img:hover{
    filter: invert(0%) sepia(3%) saturate(7485%) hue-rotate(100deg) brightness(115%) contrast(95%);
}
@media all and (min-width:381px) and (max-width:700px){
    #firstBox{
        display:grid;
    }
    #firstBox>div{
        width:100%;
    }
    #firstBox-matter{
        padding:2px;
        max-width:100%;
        
    }
    #firstBox-image{
        max-width:100%;
        margin-bottom:-100px;
    }
    #secondBox{
        width:100%;
        margin-top:350px;
    }
    #animationImage{
        width:100%;
        height:250px;
    }
    #fourthBox{
        width:100%;
    }
    #thirdBox{
        width:100%;
    }
    #anotherImage{
        width:100%;
        height:250px;
    }
    #footer{
        display:grid;
        margin-top:100px;
    }
    #footer>div{
        width:100%;
        display:grid;
    }
    #footer>#firstdiv{
        width:100%;
    }
    #logoFooter{
        display:grid;
        margin-top:10px;
    }
    #logoFooter>div{
        width:100%;
        grid-gap:20px;
        margin-top:10px;
    }
    hr{
        margin-top:1450px;
    }
    #imageLogo>img{
        margin-bottom:50px;
    }
    
}